/* Zeynep Karabulut - 2516501027 */
:root {
    --no: 2516501027;
    --ton: mod(var(--no), 360);
    --renk-ana: hsl(var(--ton) 65% 38%);
    --renk-zemin: hsl(var(--ton) 30% 97%);
    --font: "Palatino Linotype", serif;
    --bosluk-m: 1rem;  --kose: 8px;
}
body { font-family: var(--font); }